@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Spectral:ital,wght@1,400;1,800&display=swap');

* {
	box-sizing: border-box;
}
body {
	position: relative;
	max-width: 1920px;
	margin: auto;
	font-family: 'Inter';
}

header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
	z-index: 2;
}

header .name {
	font-size: 26px;
	font-weight: 500;
	margin:0 0 0.5rem 0;
}

header ul {
	margin : 0;
}

.py-3 {
	padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 10px;
}

.nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px;
}

/* CAROUSEL */
.carousel {
	position: relative;
  }
  
  .carousel.pointer-event {
	touch-action: pan-y;
  }
  
  .carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
  }
  
  .slides {
	position: relative;
	float: left;
	width: 100%;
	margin-right: -100%;
  }
  
  .prev-btn,
  .next-btn {
	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
	padding: 0;
	color: #fff;
	text-align: center;
	background: none;
	border: 0;
	opacity: 0.5;
	transition: opacity 0.15s ease;
  }
  @media (prefers-reduced-motion: reduce) {
	.prev-btn,
  .next-btn {
	  transition: none;
	}
  }
  .prev-btn:hover, .prev-btn:focus,
  .next-btn:hover,
  .next-btn:focus {
	color: #fff;
	text-decoration: none;
	opacity: 0.9;
  }
  
  .prev-btn {
	left: 70px;
  }
  
  .next-btn {
	right: 70px;
  }
  
  .arrow-btn {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100% 100%;
  }
  
  .indicators-container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-right: 15%;
	margin-bottom: 1rem;
	margin-left: 15%;
	list-style: none;
  }
  .indicator {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 3px;
	padding: 0;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #fff;
	background-clip: padding-box;
	border: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: 0.5;
	transition: opacity 0.6s ease;
  }
  .indicator-selected {
	opacity: 1;
  }
  
  .carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 1.25rem;
	left: 15%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
	text-align: center;
  }
  
 /*IMAGE CAROUSEL*/
  .slide__img {
	width: 100%;
  }

  /* TEXTE ICONES FLECHES */
#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}

.picture img {
	width: 100%;

}
#about-me {
	flex: 2
}
.about-me__title {
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
	font-weight: 500;

}
.about-me__introduction {
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	width: 60%;
	font-size: 1rem;
	line-height: 1.2;
	margin-top: 0;
    margin-bottom: 0.5rem;
}
#about-me p {
	width: 80%;
	font-size: 14px;
	line-height: 1.5;
}

.title{
	text-align: center;
	padding-block: 2em;
	font-size: 2em;
	font-weight: 500;
	margin-top: 0;
    margin-bottom: 0.5rem;
}

.container {
	width: 90%;
	margin: 0 auto;
}
.nav-links-container {
	margin: 24px 0;
	display: flex;
	column-gap: 10px;
	justify-content: center;
	flex-wrap: wrap;
	color: #000;
}

.gallery .nav {
	justify-content: center;
	margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

  .nav-link {
	font-family: 'Inter';
	font-size: 1rem;
	border: none;
	background-color: white;
	padding: 0.5rem 1rem;
	transition: color 0.15s ease-in-out, background-color  0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
	.nav-link {
	  transition: none;
	}
  }
  .nav-link-active {
	color: #fff;
	background-color: #BEB45A;
}
  .nav-link.disabled {
	color: #6c757d;
	pointer-events: none;
	cursor: default;
  }
  
  .navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
  }

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 16px;
}
.projet-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery-projet {
	margin : 0;
	max-height: 420px;
}

.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

.quote {
	font-family: 'Spectral';
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.quote figure {
	margin: 0 0 1rem 0;
}
.quote__text {
	font-family: Spectral;
	font-style: italic;
	font-weight: 300;
	font-size: 2.5rem;
	margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.quote__author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 22px;
}
blockquote {
	margin: 0 0 1rem;
  }

#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;
}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}
.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;

}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

@media all and (max-width: 1180px) {
	.picture {
		flex : 2;
	}
	#about, #contact .container {
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me h6, #about-me p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	#about{
		flex-direction: column;

	}
	.picture {
		width: 50%;
	}
	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}
	.service__description{
		margin-bottom: 1em;
	}

	#services .container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 650px) {
	header {
		flex-direction: column;
		padding-inline: 0;
	}
	header .nav, header .nav ul {
		width: 100%;
		padding: 0 0 0 0;
	}
	header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	.picture.left::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
	.picture {
		width: 80%;
	}
}
  .service__description h3 {
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
	font-size: 1.75rem;
  }
  .service__description p {
	line-height: 1.5;
  }

  .service__price h4 {
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
	font-size: 1.5rem;
  }
  .form-container h2 {
	font-size: 1.75rem;
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .lightbox {
	display: none;
  }
  
  .lightbox-overlay {
	padding-top: 30px;
	position: absolute; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background: rgba(0, 0, 0, 0.45);
  }
  .lightbox-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 500px;
	z-index: 5;
  }
  .lightbox-img {
	max-width: 100%;
	border: 15px solid white;
	border-radius: 3px;
  }
  .arrow {
	position: absolute;
	top: 50%;
	font-size: 24px;
	background-color: white ;
	transform: translate(-50%, -50%)
  }
  .arrow-next {
	right: -15px
  }

  .lightbox-open {
	display: block;
  }

/*SMARTPHONE*/
@media (max-width: 767.98px) {
	.gallery {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
	.gallery-projet {
		height: 100%;
		width: 90%;
		margin: 0 auto;
	}
  }